*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.telegram-channel {
    background-color: #010802;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.channel-container {
    background-color: #022107;
    max-width: 420px;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.channel-header {
    margin-bottom: 20px;
}

.channel-logo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 15px;
    background-color: #006400;
}

.channel-header h2 {
    color: white;
    font-size: 24px;
    margin-bottom: 5px;
}

.subscriber-count {
    color: #8e8e8e;
    font-size: 14px;
    margin: 0;
}

.channel-description {
    margin: 25px 0;
    line-height: 1.5;
}

.channel-description p {
    color: white;
    margin: 8px 0;
    font-size: 14px;
}

.admin-link {
    color: #fff;
    text-decoration: none;
}

.telegram-text {
    margin: 15px 0;
}

.share-text {
    color: #8e8e8e !important;
}

.channel-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}
.channel-buttons a{
    color: #fff;
}
.telegram-btn, .web-btn {
    padding: 12px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.telegram-btn i {
    margin-right: 8px;
    font-size: 18px;
}

.telegram-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #25D366;  /* WhatsApp green color */
}

.telegram-btn:hover {
    background-color: #000000;  /* Darker WhatsApp green on hover */
}

.web-btn {
    background-color: #242424;
    color: #fff;
    border: 1px solid #363636;
}

.telegram-btn:hover {
    background-color: #000000;
}

.web-btn:hover {
    background-color: #2f2f2f;
}

@media (max-width: 480px) {
    .channel-container {
        padding: 15px;
    }

    .channel-logo {
        width: 100px;
        height: 100px;
    }

    .channel-header h2 {
        font-size: 20px;
    }

    .channel-description p {
        font-size: 13px;
    }
}
